* {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family:"Circular", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
.container {
  width: 90%;
  margin-left:auto;
  margin-right: auto;
}
#header {
  color: red;
  height: 70px;
  width: 100%;
  border: 1px solid grey;
}
#logo {
  padding: 0px 1px;
  margin-top: 0;
}
.filter{
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
#states {
  display: inline;
  text-align: center;
  flex-wrap: wrap;
  margin-left:2%;
  margin-right:5%;
}
#state-one {
  font-weight: bold;
  font-size: 24px;
}
.state-text li {
  display: none;
}
#states ul {
  list-style: none;
}
#amenities {
  display: inline;
  text-align: center;
}
#amenity {
  font-weight: bold;
  font-size: 24px;
}
#amenities ul {
  list-style: none;
}
.search {
  width: 18%;
  height: 40px;
  text-align: center;
  padding-right: 25px;
  padding-left: 25px;
  background-color: #ff0000a3;
  border-radius: 5px;
  margin-right: 30px;
  margin-top:10px;
  color:#ffffff
}
.button-text {
  margin-left: 18px;
  margin-right: 5px;
  color: #ffffff;
}
button {
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#places {
  font-size: 40px;
  padding: 15px;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}
filter>section {
  font-size: 16px;
}
.big-box {
  display: flex;
  justify-content: center;
  margin-left: 0px;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80%;
  margin:auto;
}
.container-one {
  width:98%;
  height: 70px;
  margin:30px auto;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.big-box>div {
  width:320px;
  margin: 10px;
}
.container-two {
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
 
}
.owner-one {
  margin-top: 10px;
  margin-bottom: 10px;
}
.owner-text-one {
  line-height: 20px;
}
.amenity-two {
  padding-top: 20px;
  margin-top: 30px;
  font-size: 18px;
}
.review-one {
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}
.review-text-one {
  padding-bottom: 10px;
  margin-top: 10px;
  line-height: 20px;
}
.icon-one {
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.icons {
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
.icon-image-text {
  font-size: 10px;
  margin-left: 4px;
  margin-right: px;
  padding-left: 0px;
}
.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h2 {
  font-size: 28px;
}
.eighty {
  border: 2px solid red;
  border-radius: 40dvb;
  width: 25px;
  height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding: 10px;
  font-size: 18px;
  color: red;
}
.container-three {
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
}
.owner-two {
  margin-top: 10px;
  margin-bottom: 10px;
}
.owner-text-two {
  line-height: 20px;
}
.amenity-three {
  padding-top: 8px;
  margin-top: 20px;
  font-size: 18px;
}
.review-two {
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}
.review-text-two {
  padding-bottom: 10px;
  margin-top: 10px;
  line-height: 18px;
}
.icon-two {
  margin-top: 5px;
  font-size: 16px;
}
#ninety {
  border: 2px solid red;
  border-radius: 50dvb;
  width: 40px;
  height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 18px;
  color: red;
}
.owner {
  font-size: 18px;
  font-weight: 600;
}
p {
  font-size: 16px;
}
hr {
  padding-top: 0px;
  margin: auto;
}
i {
  padding: 5px;
}
.icons {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin-left: 50px;
  margin-right: 50px;
}
.container-four {
  border: 1px solid red;
  border-radius: 4px;
  padding: 20px;
}
.owner-three {
  margin-top: 10px;
  margin-bottom: 10px;
}
.owner-text-three {
  line-height: 20px;
}
.amenity-four {
  padding-top: 8px;
  margin-top: 20px;
  font-size: 18px;
}
.review-three {
  padding-top: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 700;
}
.review-text-three {
  padding-bottom: 10px;
  margin-top: 10px;
  line-height: 18px;
}
.icon-three {
  padding-bottom: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}
footer {
  border: 1px solid #808080;
  border-bottom: 20px;
  border-left: 10px;
  border-right: 10px;
  padding-top: 20px;
  text-align: center;
}
#footer-text {
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}
