#header {
  border: 1px solid #0000001b;
  border-top: white;
}
#logo {
  padding:0px 1px;
  margin-top: 0;
}
.container-one{
    border:1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
}
#states{
    display: inline;
    text-align: center;
    flex-wrap: wrap;
}
 #state-one{
    font-weight: bold;
    font-size: 24px;
}
#states ul{
    list-style: none;
}
#amenities{
    display: inline;
    text-align: center;
}
#amenity{
    font-weight: bold;
    font-size: 24px;
}
#amenities ul{
    list-style: none;
}
#search{
    border: 10px solid red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    border-right: 50%;
    border-left: 50%;
    text-align: center;
    background-color: red;
    border-radius: 10px;
}
#places{
    font-size: 40px;
    padding: 15px;
}
.container{
    border: 1px solid red;
    box-sizing: border-box;
}
.home{
    display: flex;
    flex-direction: row;
    justify-content: ;
}
#eighty{
    border: 1px solid red;
    border-radius: 70px;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 18px;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-end;
}
hr{
    padding-top: 0px;
}